@tailwind base;
@tailwind components;
@tailwind utilities;

.main_container{
    max-width: 800px;
    width: 100%;
}

.btn{
    @apply bg-blue-400 p-1 font-bold cursor-pointer
}
.txt{
    font-size: 20px;
}

.input_bar{
    @apply border p-1
}
.box{
    display: flex;
    justify-content: space-between;
}

input:user-valid{
    border-color: green;
}

input:user-invalid{
    border-color: red;
}
